<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <script
      type="text/javascript"
      src="//volunteer.cdn-go.cn/404/latest/404.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <h1>404 not found</h1>
  </body>
</html>
