<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>添加成功</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .success-message {
        border: 1px solid #76c893;
        background-color: #a6fba9;
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
        color: #23530b;
        margin: 20px;
        text-align: center;
        width: fit-content;
      }
    </style>
  </head>
  <body>
    <div class="success-message">
      <span>&#10004; <%= msg %></span>
    <div class="link"><a href="<%= url %>">点击跳转</a></a></div>

    </div>
  </body>
</html>
